.imagens {
    display: flex;
    justify-content: space-around;
}

img {
    width: 250px;
    margin-top: 2rem;
}

img#fotografia {
    border: solid 2px var(--black-000);
}

img.confetes {
    animation: subirDescer 3s ease-in-out infinite ;
}

@keyframes subirDescer {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}