@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&family=Roboto:wght@400;500&display=swap');

.bold-text {
    font-weight: bold;
  }

.texto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 20px;
}

.titulos {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    font-family: 'Dancing Script', sans-serif;
}

h2 {
    font-size: 2.1rem;
    color: var(--pink);
    font-family: 'Playwrite CU', sans-serif;
}

p {
    text-align: center;
    width: 40ch;
    font-family: 'Roboto', sans-serif;
}